body {
  background-color: #141414;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #000 !important;
}

.movie-card {
  background-color: #1f1f1f;
  border: none;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  height: 400px;
  object-fit: cover;
}

.card-body {
  color: white;
}

.search-box {
  max-width: 500px;
}

.ai-box {
  background-color: #fefdfd;
  border-radius: 10px;
}
.ai-box {
  background-color: #1f1f1f !important;
  color: white !important;
  border: none;
  white-space: pre-line;
}